@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

*{
	margin:0px;
	padding:0px;
}
body{
	background:url(main.jpg);
	background-position:center;
	background-size:cover;
}
.menu
{
	height:45px;
	width:auto;
	margin:0px auto;
	background:rgba(0,0,0,0.5);
	border-radius:0px 0px 20px 20px ;
}
.menu ul
{
	list-style-type: none;
}
.menu ul li
{
	float:right;
	display:inline;
	padding:5px 15px;
	margin-top:5px;
}
.menu ul li a
{
	color:white;
	text-decoration: none;
}
.menu ul li:hover{
	border: 1px solid white;
}
.logo{
	height:auto;
	width: 200px;
	margin:0px auto;
	float:left;
}
.logo img
{
	border-radius: 50%; height:35px; width:50px; margin:5px 0px 0px 10px;
}
.logo span{
	color: #32CD32;	
	font-size: 35px;
	font-family: "Tangerine", serif;
	width: auto;
	text-align:center;	
	margin-top:0px;
}
.logo a{
	text-decoration:none;
}
.outer
{
	height:auto;
	width:auto;
	/*border:1px solid black;*/
	margin:0px auto;
}
.slider
{
	height:auto;
	width:200px;
	margin:30px auto 0px;
	/*border:1px solid black;*/
	font-family: yellowtail;
	font-size:40px;
	text-align:center;
	color: #800040;
}
.para{
	padding:30px;
	font-size:30px;
	text-align:center;
	color:black;
	font-family: serif;
}
.footer {
	position:absolute;
	bottom: 0;
	text-align:center;
	background:rgba(0,0,0,0.5) ;
	padding: 0px auto;
	width: 100%;
}
.footer ul li{
	display:inline-block;
	margin:0px 30px 10px;
	color:white;
}
.footer a{
	text-decoration:none;
}	